body {
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

html {
    overflow: auto;
}

.notification1,
.notification2 {
    background-color: #F5f5f5;
    padding: 7px;
    margin: 5px;
    margin-bottom: 0px;
    margin-left: -15px;
    font-size: .7rem;
    border: 1px solid #Cccccc;
    color: grey;
    display: none;
    width: 150px;
}

.notification1 {
    margin-bottom: 0px;
    margin-left: -15px;
}

.notification2 {
    margin-left: -15px;
    margin-top: 46px;
}

.header-elements,
#x2 {
    justify-content: flex-end;
}

.header-elements,
.dashboard-pop-up,
.alert-banner,
nav a,
#time,
.social-media,
.social-media-writing,
.footer-buttons {
    display: flex;
}

.profile,
nav,
#graphics {
    display: grid;
}

nav,
nav a,
.new-member {
    justify-content: center;
}

nav a,
.new-member a {
    text-decoration: none;
}


#time {
    justify-content: space-around;
}

.alert-banner,
.footer-buttons {
    justify-content: space-between;
}

.header-elements,
.profile,
nav,
nav a,
.alert-banner,
#settings {
    align-items: center;
}

.profile,
.alert-banner,
.social-media-icon,
#send-button,
.toggle:checked,
#save-button {
    background-color: #7477bf;
}

.profile,
nav,
.dashboard,
.alert-banner p,
#time p,
.new-member p,
.new-member a {
    margin: 0;
}

.profile,
.alert-banner,
.selected,
#send-button,
.toggle::before,
.toggle:checked::before,
#save-button,
#cancel-button {
    color: white;
}

.profile {
    padding: 0px 8px;
    grid-area: header;
    grid-template-columns: 1fr 1.5fr;
}

#badge,
#student-image,
.social-media-icon,
.member-img,
.toggle::after {
    border-radius: 50%;
}

#student-image {
    width: 43px;
    height: 43px;
    margin: 8px;
}

#web {
    flex: 1;
    font-size: 1.1rem;
}

#student-name {
    font-size: .7rem;
}

.bell-icon,
.toggle {
    position: relative;
}

.bell-icon {
    border-right: 0.2px solid #d1d1c7;
    padding: 10px;
}

#badge,
.notification1,
.notification2,
.toggle::before, 
.toggle::after {
    position: absolute;
}

#badge {
    top: 6px;
    right: 7px;
    padding: 3px;
    background-color: #90EE90;
}

.bell-icon path,
nav path,
.social-media-svg {
    fill: white;
}

.bell-icon path {
    transition: 1s transform ease-in;
}

.bell-icon svg:hover {
    transform: scale(1.1);
}

nav {
    padding: 8px;
    background-color: #4d4c72;
    grid-area: nav;
    grid-template-columns: repeat(4, 50px);
}

.nav-icons {
    width: 30px;
    height: 30px;
}

main,
.container,
#settings {
    display: grid;
}

main {
    grid-area: main;
    grid-template-columns: minmax(200px, 100%);
}

.dashboard-pop-up,
#line,
#bar,
#pie,
#social-stats,
.new-member,
#members,
#activity,
#message {
    border-bottom: 1px solid #Cccccc;
}

.dashboard-pop-up {
    background-color: #F7f7f7;
    max-height: 50px;
}

.dashboard,
.toggle::after {
    background-color: white;
}

.dashboard {
    padding: 15.3px 10px;
    border-bottom: 1px solid white;
    overflow: visible;
    height: 20px;
    border-right: 1px solid #Cccccc;
    font-size: 1.2rem;
    font-style: normal;
}

.alert-banner,
.search {
    margin: 10px;
}

.footer-buttons {
    width: 94%;
    margin: auto;
}

.alert-banner {
    border-radius: 10px;
    padding: 13px 17px;
}

.container {
    grid-auto-flow: column;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "nav"
    "main";
}

#line {
    grid-area: line;
}

#bar {
    grid-area: bar;
}

#pie {
    grid-area: pie;
}

#graphics {
    grid-auto-flow: column;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "line"
    "bar"
    "pie";
}

.section-title,
.search,
#settings {
    font-size: .9rem; 
}

.section-title {
    margin: 5px 10px 5px;
}

#traffic-chart,
#daily-chart,
#mobile-chart {
    margin: 15px;
}

#daily-chart,
#mobile-chart {
    max-height: 200px;
}

#traffic-chart {
    max-height: 250px;
}

#time {
    margin: 5px 20px;
    padding: 5px;
}

.selected {
    padding: 7px;
    margin: 5px;
    background-color: #81c98f;
    border-radius: 20px;
    font-weight: 200;
}

.social-media-writing {
    flex-direction: column;
}

#social-stats {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.social-media,
.search {
    background-color: #F5f5f5;
    padding: 10px;
    border: 1px solid #Cccccc;
}

.social-media {
    margin: 7px 9px;
}

.social-media-icon {
    padding: 12px;
    width: 26px;
    height: 26px;
    margin: 0px 20px 0px 10px;
    align-self: center;
}

.new-member {
    text-align: center;
}

.member-img {
    margin: auto;
}

.app-name,
.new-member a {
    color: #7477bf;
}

.app-number {
    font-weight: 400;
    color: #777777;
    font-size: 35px;
}

.new-member {
    margin: 0px 10px;
    padding: 10px 0px;
}

.new-member p,
.new-member a {
    font-size: .75rem;
}

.member-img {
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
} 

.last {
    border: none;
}

.arrow {
    display: none;
}

.search,
#send-button,
#save-button,
#cancel-button {
    border-radius: 5px;
}

.search {
    width: 79%;
}

#send-button,
#settings,
#searchid {
    width: 94%;
}

#send-button {
    margin-bottom: 10px;
}

.search::placeholder {
    opacity: .8;
}

#send-button {
    padding: 15px;
    border: 2px solid #Cccccc;
}

#settings {
    grid-template-columns: 4fr 1fr;
    margin: auto;
    grid-row-gap: 22px;
    margin-bottom: 20px;
}

.toggle,
.toggle::after {
    border: 2px solid #C0c0c0;
}

.toggle {
    appearance: none;
    width: 95px;
    height: 35px;
    border-radius: 25px;
    background-color: #ccc;
    transition: background-color .3s;
    outline: none;
    cursor: pointer;
}

.toggle::before, 
.toggle::after {
    top: 50%;
    transform: translate(-50%, -50%);
}


.toggle::before {
    content: 'OFF';
    left: 78%;
}

.toggle:checked::before {
    content: 'ON';
    left: 20%;
}

.toggle::after {
    content: '';
    left: 18%;
    height: 1.25rem;
    width: 1.25rem;
    transition: left .3s;
}

.toggle:checked::after {
    left: 82%;
}

#save-button,
#cancel-button {
    width: 47%;
    padding: 12px;
    border: 1px solid #C0c0c0;
    font-size: .8rem;
}

#cancel-button {
    background-color: #C0c0c0;
}

.search {
    width: 87%;
}

#searchid {
    justify-self: center;
}

#social-stats {
    margin-bottom: 0px;
}

.section-title {
    margin-top: 15px;
}

.search,
#send-button {
    display: block;
    margin-right: auto;
    margin-left: auto;
}


@media (min-width: 768px) {
   .profile {
      padding: 0px 8px;
      grid-template-columns: 3fr 1fr;
   } 

   .container {
      grid-template-columns: 55px 1fr;
      grid-template-areas: 
      "header header"
      "nav main";
   }

   nav,
   #line-graph-title-and-buttons,
   .new-member {
        align-items: center;
   }

   nav {
      justify-content: start;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 50px);
      width: 39px;
   }

   .nav-icons {
        padding: 0px;
        width: 25px;
        height: 25px;
   }

    #graphics {
        grid-template-columns: 50%;
        grid-template-areas: 
        "line line"
        "bar pie";
    }

    #bar {
        border-right: 1px solid #Cccccc;
    }

   #line-graph-title-and-buttons,
   #time,
   #social-stats,
   .new-member,
   .name-and-mail {
        display: flex;
   }

   #line-graph-title-and-buttons,
   #time,
   #social-stats {
        justify-content: space-between;
   }

   #time {
        width: 40%;
   }

   #traffic-chart {
        max-height: 300px;
   }

   #social-stats {
        flex-direction: row;
   }

   .social-media {
        width: 30%;
        margin: 5px;
   }

   .social-media:first-of-type {
        margin-left: 10px;
   }

   .social-media:last-of-type,
   .member-img {
        margin-right: 10px;
   }

   .new-member,
   .acivity {
        text-align: start;
   }

   .new-member {
        padding: 10px 0px;
   }

   .member-img {
        margin-bottom: 0px;
   }

   .name-and-mail,
   .activity {
        flex: 1;
   }

   .name-and-mail {
        flex-direction: column;
   }
    
   .arrow {
        size: 16px;
        display: inline;
        color: #c0c0c0;
   }

   #send-button {
        width: 97%;
   }

   #setting {
        margin-bottom: 10px;
   }

   #settings {
        width: 40%;
        margin-left: 10px;
   }

   #save-button {
        width: 51%;
   }

   .search {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 94%;
   }

   #searchid, .footer-buttons {
        width: 97.2%;
   }
}

@media (min-width: 1024px) {
    body {
        overflow-x: hidden;
    }
    
    .search {
        width: 91.3%;
    }

    #send-button {
        width: 96.3%;
    }
    
    #members {
        grid-area: members;
    }

    #activity {
        grid-area: activity;
    }

    #message {
        grid-area: message;
        border-bottom: 0;
    }

    #setting {
        grid-area: settings;
    }
    
    #settings {
        width: 70%;
    }

    #small-container {
        display: grid;
        grid-template-columns: 50%;
        grid-template-areas: 
        "members activity"
        "message settings";
    }

    #save-button,
    #cancel-button,
    #send-button {
       font-size: .8rem;
    }

    #send-button {
        padding: 12px;
        border-width: 1px;
    }

    .section-title {
        margin-bottom: 10px;
        margin-top: 20px;
    }

    #settings {
        margin-bottom: 53px;
        margin-top: 10px;
    }

    #members,
    #message {
        border-right: 1px solid #c0c0c0;
    }

    #social-stats {
        margin-bottom: 0;
    }

    select.search {
        width: 96.2%;
    }

    #time {
        width: 28%;
    }

    .profile {
        grid-template-columns: 4fr 1fr;
    }
}